<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
    <title>
        ENDE - Empresa Nacional de Distribuição de Electricidade - E.P.
    </title>
</head>
<section layout:fragment="conteudo">
<div _ngcontent-inb-c111="" class="main-content">
    <div _ngcontent-inb-c111="" class="container-fluid">
        <div _ngcontent-inb-c111="" class="row">
            <div _ngcontent-inb-c111="" class="col-md-8 mr-auto ml-auto">
                <div _ngcontent-inb-c111="" class="wizard-container">
                    <div _ngcontent-inb-c111="" data-color="rose" id="wizardProfile" class="card card-wizard">
                        <form _ngcontent-inb-c111="" novalidate="novalidate" action="" method=""
                              class="ng-untouched ng-pristine ng-invalid">
                            <div _ngcontent-inb-c111="" class="card-header text-center"><h3 _ngcontent-inb-c111=""
                                                                                            class="card-title"> Build
                                Your Profile </h3><h5 _ngcontent-inb-c111="" class="card-description">This information
                                will let us know more about you.</h5></div>
                            <div _ngcontent-inb-c111="" class="wizard-navigation">
                                <ul _ngcontent-inb-c111="" class="nav nav-pills">
                                    <li _ngcontent-inb-c111="" class="nav-item" style="width: 33.3333%;"><a
                                            _ngcontent-inb-c111="" href="#about" data-toggle="tab" role="tab"
                                            class="nav-link active"> About </a></li>
                                    <li _ngcontent-inb-c111="" class="nav-item" style="width: 33.3333%;"><a
                                            _ngcontent-inb-c111="" href="#account" data-toggle="tab" role="tab"
                                            class="nav-link"> Account </a></li>
                                    <li _ngcontent-inb-c111="" class="nav-item" style="width: 33.3333%;"><a
                                            _ngcontent-inb-c111="" href="#address" data-toggle="tab" role="tab"
                                            class="nav-link"> Address </a></li>
                                </ul>
                                <div class="moving-tab"
                                     style="width: 229.109px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s ease 0s;">
                                    About
                                </div>
                            </div>
                            <div _ngcontent-inb-c111="" class="card-body">
                                <div _ngcontent-inb-c111="" class="tab-content">
                                    <div _ngcontent-inb-c111="" id="about" class="tab-pane active"><h5
                                            _ngcontent-inb-c111="" class="info-text"> Let's start with the basic
                                        information (with validation)</h5>
                                        <div _ngcontent-inb-c111="" class="row justify-content-center">
                                            <div _ngcontent-inb-c111="" class="col-sm-4">
                                                <div _ngcontent-inb-c111="" class="picture-container">
                                                    <div _ngcontent-inb-c111="" class="picture"><img
                                                            _ngcontent-inb-c111="" src="./assets/img/default-avatar.png"
                                                            id="wizardPicturePreview" title=""
                                                            class="picture-src"><input _ngcontent-inb-c111=""
                                                                                       type="file" id="wizard-picture">
                                                    </div>
                                                    <h6 _ngcontent-inb-c111="" class="description">Choose Picture</h6>
                                                </div>
                                            </div>
                                            <div _ngcontent-inb-c111="" class="col-sm-6">
                                                <div _ngcontent-inb-c111="" class="input-group form-control-lg">
                                                    <div _ngcontent-inb-c111="" class="input-group-prepend"><span
                                                            _ngcontent-inb-c111="" class="input-group-text"><i
                                                            _ngcontent-inb-c111=""
                                                            class="material-icons">face</i></span></div>
                                                    <mat-form-field _ngcontent-inb-c111=""
                                                                    class="mat-form-field example-full-width has-label ng-tns-c58-24 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid">
                                                        <div class="mat-form-field-wrapper ng-tns-c58-24">
                                                            <div class="mat-form-field-flex ng-tns-c58-24"><!---->
                                                                <!---->
                                                                <div class="mat-form-field-infix ng-tns-c58-24"><input
                                                                        _ngcontent-inb-c111="" type="text"
                                                                        name="firstname" matinput="" id="text"
                                                                        placeholder="First Name"
                                                                        formcontrolname="firstName"
                                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-24 cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
                                                                        aria-invalid="false" aria-required="false"><span
                                                                        class="mat-form-field-label-wrapper ng-tns-c58-24"><label
                                                                        class="mat-form-field-label ng-tns-c58-24 mat-empty mat-form-field-empty ng-star-inserted"
                                                                        id="mat-form-field-label-49" for="text"
                                                                        aria-owns="text"><span
                                                                        class="ng-tns-c58-24 ng-star-inserted">First Name</span>
                                                                    <!----><!----><!----><!----></label><!----></span>
                                                                </div><!----></div>
                                                            <div class="mat-form-field-underline ng-tns-c58-24 ng-star-inserted">
                                                                <span class="mat-form-field-ripple ng-tns-c58-24"></span>
                                                            </div><!---->
                                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-24">
                                                                <!---->
                                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-24 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                     style="opacity: 1; transform: translateY(0%);">
                                                                    <!---->
                                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-24"></div>
                                                                </div><!----></div>
                                                        </div>
                                                    </mat-form-field>
                                                </div>
                                                <div _ngcontent-inb-c111="" class="input-group form-control-lg">
                                                    <div _ngcontent-inb-c111="" class="input-group-prepend"><span
                                                            _ngcontent-inb-c111="" class="input-group-text"><i
                                                            _ngcontent-inb-c111="" class="material-icons">record_voice_over</i></span>
                                                    </div>
                                                    <mat-form-field _ngcontent-inb-c111=""
                                                                    class="mat-form-field example-full-width has-label ng-tns-c58-25 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid">
                                                        <div class="mat-form-field-wrapper ng-tns-c58-25">
                                                            <div class="mat-form-field-flex ng-tns-c58-25"><!---->
                                                                <!---->
                                                                <div class="mat-form-field-infix ng-tns-c58-25"><input
                                                                        _ngcontent-inb-c111="" type="text"
                                                                        name="lastname" matinput="" id="text"
                                                                        placeholder="last Name"
                                                                        formcontrolname="lastName"
                                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-25 cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
                                                                        aria-invalid="false" aria-required="false"><span
                                                                        class="mat-form-field-label-wrapper ng-tns-c58-25"><label
                                                                        class="mat-form-field-label ng-tns-c58-25 mat-empty mat-form-field-empty ng-star-inserted"
                                                                        id="mat-form-field-label-51" for="text"
                                                                        aria-owns="text"><span
                                                                        class="ng-tns-c58-25 ng-star-inserted">last Name</span>
                                                                    <!----><!----><!----><!----></label><!----></span>
                                                                </div><!----></div>
                                                            <div class="mat-form-field-underline ng-tns-c58-25 ng-star-inserted">
                                                                <span class="mat-form-field-ripple ng-tns-c58-25"></span>
                                                            </div><!---->
                                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-25">
                                                                <!---->
                                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-25 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                     style="opacity: 1; transform: translateY(0%);">
                                                                    <!---->
                                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-25"></div>
                                                                </div><!----></div>
                                                        </div>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div _ngcontent-inb-c111="" class="col-lg-10 mt-3">
                                                <div _ngcontent-inb-c111="" class="input-group form-control-lg">
                                                    <div _ngcontent-inb-c111="" class="input-group-prepend"><span
                                                            _ngcontent-inb-c111="" class="input-group-text"><i
                                                            _ngcontent-inb-c111=""
                                                            class="material-icons">email</i></span></div>
                                                    <mat-form-field _ngcontent-inb-c111=""
                                                                    class="mat-form-field example-full-width ng-tns-c58-26 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid">
                                                        <div class="mat-form-field-wrapper ng-tns-c58-26">
                                                            <div class="mat-form-field-flex ng-tns-c58-26"><!---->
                                                                <!---->
                                                                <div class="mat-form-field-infix ng-tns-c58-26"><input
                                                                        _ngcontent-inb-c111="" matinput=""
                                                                        placeholder="Email (required)" type="email"
                                                                        id="exampleemalil" name="email"
                                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-26 cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
                                                                        aria-invalid="false" aria-required="false"><span
                                                                        class="mat-form-field-label-wrapper ng-tns-c58-26"><label
                                                                        class="mat-form-field-label ng-tns-c58-26 mat-empty mat-form-field-empty ng-star-inserted"
                                                                        id="mat-form-field-label-53" for="exampleemalil"
                                                                        aria-owns="exampleemalil"><span
                                                                        class="ng-tns-c58-26 ng-star-inserted">Email (required)</span>
                                                                    <!----><!----><!----><!----></label><!----></span>
                                                                </div><!----></div>
                                                            <div class="mat-form-field-underline ng-tns-c58-26 ng-star-inserted">
                                                                <span class="mat-form-field-ripple ng-tns-c58-26"></span>
                                                            </div><!---->
                                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-26">
                                                                <!---->
                                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-26 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                     style="opacity: 1; transform: translateY(0%);">
                                                                    <!---->
                                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-26"></div>
                                                                </div><!----></div>
                                                        </div>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div _ngcontent-inb-c111="" id="account" class="tab-pane"><h5 _ngcontent-inb-c111=""
                                                                                                  class="info-text">
                                        What are you doing? (checkboxes) </h5>
                                        <div _ngcontent-inb-c111="" class="row justify-content-center">
                                            <div _ngcontent-inb-c111="" class="col-lg-10">
                                                <div _ngcontent-inb-c111="" class="row">
                                                    <div _ngcontent-inb-c111="" class="col-sm-4">
                                                        <div _ngcontent-inb-c111="" data-toggle="wizard-checkbox"
                                                             class="choice"><input _ngcontent-inb-c111=""
                                                                                   type="checkbox" name="jobb"
                                                                                   value="Design">
                                                            <div _ngcontent-inb-c111="" class="icon"><i
                                                                    _ngcontent-inb-c111="" class="fa fa-pencil"></i>
                                                            </div>
                                                            <h6 _ngcontent-inb-c111="">Design</h6></div>
                                                    </div>
                                                    <div _ngcontent-inb-c111="" class="col-sm-4">
                                                        <div _ngcontent-inb-c111="" data-toggle="wizard-checkbox"
                                                             class="choice"><input _ngcontent-inb-c111=""
                                                                                   type="checkbox" name="jobb"
                                                                                   value="Code">
                                                            <div _ngcontent-inb-c111="" class="icon"><i
                                                                    _ngcontent-inb-c111="" class="fa fa-terminal"></i>
                                                            </div>
                                                            <h6 _ngcontent-inb-c111="">Code</h6></div>
                                                    </div>
                                                    <div _ngcontent-inb-c111="" class="col-sm-4">
                                                        <div _ngcontent-inb-c111="" data-toggle="wizard-checkbox"
                                                             class="choice"><input _ngcontent-inb-c111=""
                                                                                   type="checkbox" name="jobb"
                                                                                   value="Develop">
                                                            <div _ngcontent-inb-c111="" class="icon"><i
                                                                    _ngcontent-inb-c111="" class="fa fa-laptop"></i>
                                                            </div>
                                                            <h6 _ngcontent-inb-c111="">Develop</h6></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div _ngcontent-inb-c111="" id="address" class="tab-pane">
                                        <div _ngcontent-inb-c111="" class="row justify-content-center">
                                            <div _ngcontent-inb-c111="" class="col-sm-12"><h5 _ngcontent-inb-c111=""
                                                                                              class="info-text"> Are you
                                                living in a nice area? </h5></div>
                                            <div _ngcontent-inb-c111="" class="col-sm-7">
                                                <mat-form-field _ngcontent-inb-c111=""
                                                                class="mat-form-field example-full-width ng-tns-c58-27 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                    <div class="mat-form-field-wrapper ng-tns-c58-27">
                                                        <div class="mat-form-field-flex ng-tns-c58-27"><!----><!---->
                                                            <div class="mat-form-field-infix ng-tns-c58-27"><input
                                                                    _ngcontent-inb-c111="" matinput="" type="text"
                                                                    placeholder="Street Name"
                                                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c58-27 cdk-text-field-autofill-monitored"
                                                                    id="mat-input-27" aria-invalid="false"
                                                                    aria-required="false"><span
                                                                    class="mat-form-field-label-wrapper ng-tns-c58-27"><label
                                                                    class="mat-form-field-label ng-tns-c58-27 mat-empty mat-form-field-empty ng-star-inserted"
                                                                    id="mat-form-field-label-55" for="mat-input-27"
                                                                    aria-owns="mat-input-27"><span
                                                                    class="ng-tns-c58-27 ng-star-inserted">Street Name</span>
                                                                <!----><!----><!----><!----></label><!----></span></div>
                                                            <!----></div>
                                                        <div class="mat-form-field-underline ng-tns-c58-27 ng-star-inserted">
                                                            <span class="mat-form-field-ripple ng-tns-c58-27"></span>
                                                        </div><!---->
                                                        <div class="mat-form-field-subscript-wrapper ng-tns-c58-27">
                                                            <!---->
                                                            <div class="mat-form-field-hint-wrapper ng-tns-c58-27 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                 style="opacity: 1; transform: translateY(0%);"><!---->
                                                                <div class="mat-form-field-hint-spacer ng-tns-c58-27"></div>
                                                            </div><!----></div>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                            <div _ngcontent-inb-c111="" class="col-sm-3">
                                                <mat-form-field _ngcontent-inb-c111=""
                                                                class="mat-form-field example-full-width ng-tns-c58-28 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                    <div class="mat-form-field-wrapper ng-tns-c58-28">
                                                        <div class="mat-form-field-flex ng-tns-c58-28"><!----><!---->
                                                            <div class="mat-form-field-infix ng-tns-c58-28"><input
                                                                    _ngcontent-inb-c111="" matinput="" type="text"
                                                                    placeholder="Street No."
                                                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c58-28 cdk-text-field-autofill-monitored"
                                                                    id="mat-input-28" aria-invalid="false"
                                                                    aria-required="false"><span
                                                                    class="mat-form-field-label-wrapper ng-tns-c58-28"><label
                                                                    class="mat-form-field-label ng-tns-c58-28 mat-empty mat-form-field-empty ng-star-inserted"
                                                                    id="mat-form-field-label-57" for="mat-input-28"
                                                                    aria-owns="mat-input-28"><span
                                                                    class="ng-tns-c58-28 ng-star-inserted">Street No.</span>
                                                                <!----><!----><!----><!----></label><!----></span></div>
                                                            <!----></div>
                                                        <div class="mat-form-field-underline ng-tns-c58-28 ng-star-inserted">
                                                            <span class="mat-form-field-ripple ng-tns-c58-28"></span>
                                                        </div><!---->
                                                        <div class="mat-form-field-subscript-wrapper ng-tns-c58-28">
                                                            <!---->
                                                            <div class="mat-form-field-hint-wrapper ng-tns-c58-28 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                 style="opacity: 1; transform: translateY(0%);"><!---->
                                                                <div class="mat-form-field-hint-spacer ng-tns-c58-28"></div>
                                                            </div><!----></div>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                            <div _ngcontent-inb-c111="" class="col-sm-5">
                                                <mat-form-field _ngcontent-inb-c111=""
                                                                class="mat-form-field example-full-width ng-tns-c58-29 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                    <div class="mat-form-field-wrapper ng-tns-c58-29">
                                                        <div class="mat-form-field-flex ng-tns-c58-29"><!----><!---->
                                                            <div class="mat-form-field-infix ng-tns-c58-29"><input
                                                                    _ngcontent-inb-c111="" matinput="" type="text"
                                                                    placeholder="City"
                                                                    class="mat-input-element mat-form-field-autofill-control ng-tns-c58-29 cdk-text-field-autofill-monitored"
                                                                    id="mat-input-29" aria-invalid="false"
                                                                    aria-required="false"><span
                                                                    class="mat-form-field-label-wrapper ng-tns-c58-29"><label
                                                                    class="mat-form-field-label ng-tns-c58-29 mat-empty mat-form-field-empty ng-star-inserted"
                                                                    id="mat-form-field-label-59" for="mat-input-29"
                                                                    aria-owns="mat-input-29"><span
                                                                    class="ng-tns-c58-29 ng-star-inserted">City</span>
                                                                <!----><!----><!----><!----></label><!----></span></div>
                                                            <!----></div>
                                                        <div class="mat-form-field-underline ng-tns-c58-29 ng-star-inserted">
                                                            <span class="mat-form-field-ripple ng-tns-c58-29"></span>
                                                        </div><!---->
                                                        <div class="mat-form-field-subscript-wrapper ng-tns-c58-29">
                                                            <!---->
                                                            <div class="mat-form-field-hint-wrapper ng-tns-c58-29 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                 style="opacity: 1; transform: translateY(0%);"><!---->
                                                                <div class="mat-form-field-hint-spacer ng-tns-c58-29"></div>
                                                            </div><!----></div>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                            <div _ngcontent-inb-c111="" class="col-sm-5">
                                                <mat-form-field _ngcontent-inb-c111=""
                                                                class="mat-form-field ng-tns-c58-30 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                    <div class="mat-form-field-wrapper ng-tns-c58-30">
                                                        <div class="mat-form-field-flex ng-tns-c58-30"><!----><!---->
                                                            <div class="mat-form-field-infix ng-tns-c58-30">
                                                                <mat-select _ngcontent-inb-c111="" role="listbox"
                                                                            placeholder="Single City" name="city"
                                                                            class="mat-select ng-tns-c81-31 ng-tns-c58-30 mat-select-empty ng-star-inserted"
                                                                            id="mat-select-0" tabindex="0"
                                                                            aria-label="Single City"
                                                                            aria-required="false" aria-disabled="false"
                                                                            aria-invalid="false"
                                                                            aria-multiselectable="false">
                                                                    <div cdk-overlay-origin="" aria-hidden="true"
                                                                         class="mat-select-trigger ng-tns-c81-31">
                                                                        <div class="mat-select-value ng-tns-c81-31">
                                                                            <span class="mat-select-placeholder ng-tns-c81-31 ng-star-inserted">Single City</span>
                                                                            <!----><!----></div>
                                                                        <div class="mat-select-arrow-wrapper ng-tns-c81-31">
                                                                            <div class="mat-select-arrow ng-tns-c81-31"></div>
                                                                        </div>
                                                                    </div><!----></mat-select>
                                                                <span class="mat-form-field-label-wrapper ng-tns-c58-30"><label
                                                                        class="mat-form-field-label ng-tns-c58-30 mat-empty mat-form-field-empty ng-star-inserted"
                                                                        id="mat-form-field-label-61" for="mat-select-0"
                                                                        aria-owns="mat-select-0"><span
                                                                        class="ng-tns-c58-30 ng-star-inserted">Single City</span>
                                                                    <!----><!----><!----><!----></label><!----></span>
                                                            </div><!----></div>
                                                        <div class="mat-form-field-underline ng-tns-c58-30 ng-star-inserted">
                                                            <span class="mat-form-field-ripple ng-tns-c58-30"></span>
                                                        </div><!---->
                                                        <div class="mat-form-field-subscript-wrapper ng-tns-c58-30">
                                                            <!---->
                                                            <div class="mat-form-field-hint-wrapper ng-tns-c58-30 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                 style="opacity: 1; transform: translateY(0%);"><!---->
                                                                <div class="mat-form-field-hint-spacer ng-tns-c58-30"></div>
                                                            </div><!----></div>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-inb-c111="" class="card-footer">
                                <div _ngcontent-inb-c111="" class="mr-auto"><input _ngcontent-inb-c111="" type="button"
                                                                                   name="previous" value="Previous"
                                                                                   class="btn btn-previous btn-fill btn-default btn-wd disabled">
                                </div>
                                <div _ngcontent-inb-c111="" class="ml-auto"><input _ngcontent-inb-c111="" type="button"
                                                                                   name="next" value="Next"
                                                                                   class="btn btn-next btn-fill btn-rose btn-wd"><input
                                        _ngcontent-inb-c111="" type="button" name="finish" value="Finish"
                                        class="btn btn-finish btn-fill btn-rose btn-wd" style="display: none;"></div>
                                <div _ngcontent-inb-c111="" class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</html>